.card[b-n23f2tg4rd] {
    transition: transform 0.2s ease;
    box-shadow: 0 2px 4px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1em;
}

    .card:hover[b-n23f2tg4rd] {
        transform: scale(1.1);
    }
